<div class="col-xs-12 col-md-8">
      <div id="presentation">
        <h1 class="text-center"><%= t('.apropos') %></h1>
        <hr>
        <p>
          <%= t('.alheure') %>
        <i><%= t('.traduction') %></i> <%= t('.avides') %>
        <br>
        <br>

        <%= t('.on') %>
        <strong><%= t('.simplifie') %></strong><%= t('.tache') %>
       <br>
       - <strong><%= t('.ambiance') %></strong><%= t('.cadre') %>
       <br>
       - <strong><%= t('.qualite') %></strong><%= t('.adapte') %>
       <br>
       - <strong><%= t('.cibles') %></strong><%= t('.cherches') %>

        <br>
        <br>

        <strong><%= t('.lesfoodglobeuses') %></strong><%= t('.juristes') %>

        <br>
        <br>

        <i><strong><%= t('.margot') %></i></strong><%= t('.losangeles') %>  <i><%= t('.pomme') %></i><%= t('.denicheuse') %>

        <br>
        <br>

        <i><strong><%= t('.laura') %></strong></i> <%= t('.montreal') %><i><%= t('.thevert') %></i>

        <br>
        <br>

        <%= t('.veritables') %><i><%= t('.foodies') %></i><%= t('.projet') %><i><%= t('.tips') %></i> <%= t('.atravers') %>

        <br>
        <br>

        <i><%= t('.visite') %></i>

        <br>
        <br>

        <i>M&L</i>

        <br>
        <br>

        </p>
      </div>
    </div>

