    <div class="col-xs-12">
      <div class="carousel">
        <div class="item">
            <div class="white-box">
              <%= link_to restaurant_article_path(21, 20) do %>
                <div class="container-pola">
                  <%= image_tag "republique_la.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Republique LA</p>
              <p class="city"><strong>Los Angeles</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to restaurant_article_path(26, 25)  do %>
                <div class="container-pola">
                  <%= image_tag "hobbes.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Hobbes</p>
              <p class="city"><strong>Paris</strong></p>
            </div>
        </div>
        <div class="item">
          <div class="white-box">
            <%= link_to restaurant_article_path(42, 42)  do %>
              <div class="container-pola">
                <%= image_tag "machne-yuda.jpg", id:"pola" %>
              </div>
            <% end %>
            <p class="restaurant">Machne Yuda</p>
            <p class="city"><strong>Jérusalem</strong></p>
          </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to restaurant_article_path(55, 55)  do %>
                <div class="container-pola">
                  <%= image_tag "silo.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Silo</p>
              <p class="city"><strong>Berlin</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to restaurant_article_path(27, 26)  do %>
                <div class="container-pola">
                  <%= image_tag "tapas-ahad-aham.jpg", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Tapas Ahad Aham</p>
              <p class="city"><strong>Tel-aviv</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to restaurant_article_path(46, 46)  do %>
                <div class="container-pola">
                  <%= image_tag "la-fabrique.jpg", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">La Fabrique</p>
              <p class="city"><strong>Montreal</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to restaurant_article_path(37, 36)  do %>
                <div class="container-pola">
                  <%= image_tag "nomthitbokho.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Nom Thit Bo Kho</p>
              <p class="city"><strong>Hanoi</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to restaurant_article_path(10, 9) do %>
                <div class="container-pola">
                  <%= image_tag "salondupantheon.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Le Salon du Panthéon</p>
              <p class="city"><strong>Paris</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to restaurant_article_path(44, 44) do %>
                <div class="container-pola">
                  <%= image_tag "siseng.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Siseng</p>
              <p class="city"><strong>Paris</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to restaurant_article_path(23, 22)  do %>
                <div class="container-pola">
                  <%= image_tag "polpo.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Polpo</p>
              <p class="city"><strong>Londres</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to restaurant_article_path(39, 39)  do %>
                <div class="container-pola">
                  <%= image_tag "ibaji.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Ibaji</p>
              <p class="city"><strong>Paris</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to restaurant_article_path(33, 32)  do %>
                <div class="container-pola">
                  <%= image_tag "lapharmacia.jpg", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">La Pharmacia</p>
              <p class="city"><strong>Lisbonne</strong></p>
            </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-8">
      <h3 class="posts-title">LATEST POSTS</h3>
      <div class="row">
        <% @articles.each do |article| %>
          <div class="post">
            <div class="col-xs-12 col-sm-6">
              <%= image_tag article.restaurant.picture, class: "picture-post" %>
              <div class="content">
                <%= link_to restaurant_article_path(article.restaurant.id, article) do %>
                  <h4><%= article.restaurant.name %>, <%= article.restaurant.city %> </h4>
                <% end %>
                <p><%= t('.description', french: article.description, english: article.description_en).split[0..60].join(" ") %>...</p>
                <div class="date">
                  <span><%= (l(article.publication, format: :custom)).to_s.capitalize %></span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= will_paginate @articles, :previous_label => "<<", :next_label => ">>" %>
      </div>
    </div>



















