    <div class="col-xs-12">
      <div class="carousel">
        <div class="item">
            <div class="white-box">
              <%= link_to root_path do %>
                <div class="container-pola">
                  <%= image_tag "soya.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Soya</p>
              <p class="city"><strong>Paris</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to root_path do %>
                <div class="container-pola">
                  <%= image_tag "soya.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Soya</p>
              <p class="city"><strong>Paris</strong></p>
            </div>
        </div>
       <div class="item">
            <div class="white-box">
              <%= link_to root_path do %>
                <div class="container-pola">
                  <%= image_tag "soya.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Soya</p>
              <p class="city"><strong>Paris</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to root_path do %>
                <div class="container-pola">
                  <%= image_tag "soya.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Soya</p>
              <p class="city"><strong>Paris</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to root_path do %>
                <div class="container-pola">
                  <%= image_tag "soya.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Soya</p>
              <p class="city"><strong>Paris</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to root_path do %>
                <div class="container-pola">
                  <%= image_tag "soya.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Soya</p>
              <p class="city"><strong>Paris</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to root_path do %>
                <div class="container-pola">
                  <%= image_tag "soya.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Soya</p>
              <p class="city"><strong>Paris</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to root_path do %>
                <div class="container-pola">
                  <%= image_tag "soya.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Soya</p>
              <p class="city"><strong>Paris</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to root_path do %>
                <div class="container-pola">
                  <%= image_tag "soya.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Soya</p>
              <p class="city"><strong>Paris</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to root_path do %>
                <div class="container-pola">
                  <%= image_tag "soya.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Soya</p>
              <p class="city"><strong>Paris</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to root_path do %>
                <div class="container-pola">
                  <%= image_tag "soya.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Soya</p>
              <p class="city"><strong>Paris</strong></p>
            </div>
        </div>
        <div class="item">
            <div class="white-box">
              <%= link_to root_path do %>
                <div class="container-pola">
                  <%= image_tag "soya.png", id:"pola" %>
                </div>
              <% end %>
              <p class="restaurant">Soya</p>
              <p class="city"><strong>Paris</strong></p>
            </div>
        </div>
      </div>
    </div>



      <div id="page-selection">
      </div>

    </div>


















