<div class="col-xs-12 col-md-8">
  <div id="contact">
    <%= simple_form_for @contact do |f| %>
      <%= f.input :name, label: t('.name'), required: true %>
      <%= f.input :email, label: t('.email'), required: true %>
      <%= f.input :subject, label: t('.subject'), required: true %>
      <%= f.input :message, label: t('.message'), :input_html => { :rows =>5} %>
      <%= f.button :submit, t('.post'), class: "btn btn-default" %>
    <% end %>
  </div>
</div>


