<div class="col-xs-12 col-md-8">
  <div id="contact">
    <%= simple_form_for @contact do |f| %>
      <%= f.input :name, label: 'Votre Nom (required)', required: true %>
      <%= f.input :email, label: 'Votre Email (required)', required: true %>
      <%= f.input :subject, label: 'Sujet (required)', required: true %>
      <%= f.input :message, label: 'Votre Message', :input_html => { :rows =>5} %>
      <%= f.button :submit, 'Envoyer', class: "btn btn-default" %>
    <% end %>
  </div>
</div>


